@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(102, 102, 102);
  transition: 0.4s;
  padding: 3px;
}
